page-register {

}
.white-box-register{
  background-color:white;
  border-radius: 5px;
  padding-top: 0px;
  height:640px;
  width: 85%;
  box-shadow: 3px 3px 3px #888888;
}

.return_btn{
  background-color: #ffffff;
  color: #000000;
  font-weight: 200;
  font-size:15px;
  text-align: center;
  position: absolute;
  margin-left: 23%;
  margin-right: 30%;
  margin-top: 600px;
}

.faq_btn_reg_right{
  background-color: #40C5F2;
  color: #ffffff;
  font-weight: 200;
  font-size: 15px;
  text-align: right;
  margin-top: 100px;
  margin-right: -35px;
  margin-bottom: 10px;
}

.faq_btn_reg_left{
  background-color: #40C5F2;
  color: #ffffff;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  margin-top: -30px;
  margin-left: -35px;
  margin-bottom: 10px;
}
