page-pre-login {

}

.pre-login-bgc {
  background-color:#40c5f2;
}

.login-back-color {
  background-color:#f4f4f4;
}

.round-button {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  font-size: 20px;
}

.blue-button {
  font-weight:600;
  color:#ffffff;
  border-radius:100px 100px 100px 100px;
}

.round-bg-pin {
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 25px;
}

.login-h4 {
  color:#000000;
  text-align:center;
}

.register-blue-button {
  border-radius: 100px 100px 100px 100px;
  color: #ffffff;
}

.register-input-box {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}

.register-select-box {
  width: 80%;
  height: 35px;
  color: #000;
  border: 1px solid #1ea587;
  border-radius: 20px;
  background-color: #ffffff;
}

.keypad {
  text-align: center;
}

.white-button {
  font-weight:700;
  border-radius:100px 100px 100px 100px;
  border: 1px solid #ffffff;
  background-color: #40C5F2;
  color: #ffffff;
}
