page-login-pin {

}
.circle-pin {
  border: 1px solid #1EA587;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.round-button{
  background-color: #F4F4F4;
  border: 1px solid #888888;
  color: #888888;
  font-size: 25px;
  font-weight: 200;
}
