

.my-width{
		width:50px;
    position:center;
		background-color: transparent;
		color: #202A3F;
	}

  .my-width2{
  		width:40px;
			background-color: transparent;
			color: #202A3F;
  	}

.my-width3{
    		width:350px;
        height:30px;
        align-items: center !important;

    	}

.chartposition {
  position:fixed;
  bottom:8% ;
  left: 0%;
  right: 0%;
}

.tab-position{
	position: absolute;
	width: 90%;
	bottom:1%;
	left:5%;
}

.button-md{
	box-shadow: none;
}
