page-home {

}

.pay-button {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 20px;
}

#card-img {
  max-width: 20%;
  min-width: 15%;
  margin-left: 66px;
  padding-top: 25px;
}

.bt-container .braintree-dropin {
  display: none;
}
