page-settings {

}

.full-width {
  padding: 0;
}

ion-checkbox {
  .item-cover {
    width: 15%;
  }
}

ion-list-header.list-header  {
  background-color: #202A3F;
  label {
    color: white;
  }
}

.setting-icon{
padding-right:8px;
}
