page-charts {

}

.icon {
  align-items: center !important;
}

.mascot {
  width: 60%;
  vertical-align: middle;
  margin-top: -2.60em;
}

.left-arrow {
  width: 8%;
  position: absolute;
  right: 94%;
  top: 25%;
}

.right-arrow {
  width: 8%;
  position: absolute;
  left: 94%;
  top: 25%;
}

.header-color {
  background-color: #202A3F;
  color: #ffffff;
  label {
    color: #ffffff;
    font-size: 15px;
  }
}

.risk-investment {
  font-size: 16px;
  color: #1EA587;
  font-weight: bold;
}

.risk-values {
  .label {
    font-size: 26px;
    color: #40C5f2;
    margin: 0;
  }
}

.risk-inv-label {
  .label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
  }
}

.bar-header {
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.risk-numbers {
  font-size: 25px;
  font-weight: 300;
}

.risk-price {
  font-size: 15px;
  font-weight: 100;
}

.risk-border {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 5px 20px 2px #888888;
}

.price-style {
  color: #40C5F2;
  font-weight: 500;
  font-size: 30px;
}

.risk-border {
  border-top: 1px solid #f4f4f4;
  box-shadow: inset 0 3px 20px 0px #f4f4f4;
  position: absolute;
  left: 0;
  width: 100vw
}

.top-container {
  padding: 0;
}
