page-charts {

}

.icon {
  align-items: center !important;
}

.mascot {
  width: 60%;
  vertical-align: middle;
  margin-top: -2.75em;
}

.left-arrow {
  width: 10%;
  margin-right: 20px;
}

.right-arrow {
  width: 10%;
  margin-left: 20px;
}

.header-color {
  background-color: aliceblue;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.risk-numbers {
  font-size: 25px;
  font-weight: bold;
}

.risk-price {
  font-size: 18px;
  font-weight: 100;
}

.risk-border {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 5px 20px 3px #888888;
}
