page-charts {

}

.icon {
  align-items: center !important;
}

.mascot {
  width: 60%;
  vertical-align: middle;
  margin-top: -2.75em;
}

.left-arrow {
  width: 10%;
  position: absolute;
  right: 91%;
  top: 21%;
}

.right-arrow {
  width: 10%;
  position: absolute;
  left: 91%;
  top: 20%;
}

.header-color {
  background-color: #1EA587;
  label {
    color: #ffffff;
    font-size: 15px;
  }
}

.risk-investment {
  font-size: 16px;
  color: #1EA587;
  font-weight: bold;
}

.risk-values {
  .label {
    font-size: 26px;
    color: #40C5f2;
    margin: 0;
  }
}

.risk-inv-label {
  .label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
  }
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.risk-numbers {
  font-size: 25px;
  font-weight: bold;
}

.risk-border {
  border-top: 1px solid #f4f4f4;
  box-shadow: inset 0 3px 20px 0px #f4f4f4;
  position: absolute;
  left: 0;
  width: 100vw
}

.top-container {
  padding: 0;
}
