<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img src="assets/images/coins-01.png" alt="">
      </ion-col>
      <ion-col col-4>
        <img src="assets/images/coins-02.png" alt="">
      </ion-col>
      <ion-col col-4>
        <img src="assets/images/coins-03.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="coin-dropdown">
      <ion-col col-4>
        <input type="text" name="" value="" placeholder="LRC" class="risk-value">
      </ion-col>
      <ion-col col-4>
        <input type="text" name="" value="" placeholder="MRC" class="risk-value">
      </ion-col>
      <ion-col col-4>
        <input type="text" name="" value="" placeholder="HRC" class="risk-value">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div class="rounded-border">
          <ion-label>Total: MYR 100.00</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <page-payment-deposit *ngIf="deposit"></page-payment-deposit>
    <page-payment-withdrawal *ngIf="withdraw"></page-payment-withdrawal>
  </ion-grid>
</ion-content>

<tabs-footer></tabs-footer>
