page-investment-wallet {

}

.inv-total {
  float: right;
  font-size: 30px;
  margin-top: 12px;
}

.inv-border {
  border: 1px gray;
  border-style: solid none;
  margin-top: -1px;
  height: 85px;
}

.inv-center {
  margin-top: auto;
  margin-bottom: auto;
}

.v-img {
  vertical-align: middle;
  margin-bottom: 0.75em;
  width: 45%;
}

.risk-label {
  font-size: 24px;
}
