<ion-content class="login-back-color">
  <login-logo></login-logo>
  <div class="otp-container">
    <div class="white-box">
      <h4 class="login-h4">{{header}}</h4>
      <form text-center>
        <ion-grid>
          <ion-row>
            <ion-col>
              <input type="password" *ngIf="isPassword()" placeholder="Insert one time password" class="register-input-box">
              <input type="password" *ngIf="isPassword()==false" placeholder="Input passcode here" class="register-input-box">
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    <div class="login-btn-container">
      <button *ngIf="isPassword()" class="button button-positive button-block green-button" ion-button (click)="setPassword()">{{btnContent}}</button>
      <button *ngIf="isPassword()==false" class="button button-positive button-block green-button" ion-button (click)="viewCtrl.dismiss()">{{btnContent}}</button>
    </div>
  </div>
</ion-content>
