page-investment-ledger {

}

.grid-header {
  font-weight: bold;
}

.col {
  font-size: 13px;
  white-space: nowrap;
}

.align-item {
  padding-left: 0;
}

.trans-id {
  padding-left: 10px;
}

.amount {
  padding-left: 13px;
}

.investment {
  padding-left: 20px;
}
