page-login-verify {

}
.return_login{
  background-color: #40C5F2;
  color: #ffffff;
  font-weight: 200;
  font-size:15px;
  text-align: center;
  position: absolute;
  margin-left: 32%;
  margin-right: 32%;
  padding-top: 20px;
}
