page-login {

}
.register-input-box{
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #29DAB2;
  background-color:#ffffff;
  text-align: center;
  border-radius: 0px;
  width: 80%;
}

.login-h4{
  padding-top: 17px;
  color: #202A3F;
  font-weight:700;
}

.white-box {
  background-color:white;
  border-radius: 5px;
  height: 35vh;
  width: 80%;
  box-shadow: 3px 3px 3px #888888;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 228px;
}

// container for login button and forgot password
.login-btn-container {
  position: relative;
  top: 175px;

  .green-button {
    background-color: #1EA587;
    color: #ffffff;
    font-weight:700;
    border-radius:100px 100px 100px 100px;
    border: 1px solid #ffffff;
    width: 70%;
    margin: 0 auto 25px;
    border-color: #1EA587;
  }

  .fgpassword_btn{
    font-weight: 200;
    font-size:15px;
    margin-top: 20px;
  }
}

.faq_btn{
  color: #000000;
  font-weight: 200;
  font-size: 15px;
  position: absolute;
  bottom: 1%;
  right: 3%;
}
